[Unit]
Description=uim daemon
#Wants=uim-env.service
After=graphical-session.target

[Service]
ExecStart=/usr/bin/uim-xim
Restart=on-abort

[Install]
WantedBy=graphical-session.target

